#nav-section {
  grid-template-columns: 0.1fr 0.1fr;
  justify-content: end;
  margin: 0px 40px;
}

#nav-section div{
  width: 180px
}

#nav-section button{
  padding: 6px 14px;
  border: 1px solid black;
  color: hsl(0, 0%, 95%);
}

#sign-in {
  background-color: #4285f4;
}

.grid {
  display: grid;
}

.smaller-text{
  font-size: smaller;
}